# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
.venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# PyInstaller
*.spec

# OS
.DS_Store
Thumbs.db
desktop.ini

# App settings
app_settings.json

# Documents / Presentations
*.pptx
*.ppt

